* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  display: flex;
  font-family: 'Acme', sans-serif;
}
.email-list ul {
  list-style: none;
  text-align: center;
  margin-top: 100px;
}
.mail {
  font-size: 40px;
}
